<footer id="footer">
  <div class="container">
    <div class="copyright-wrap d-md-flex py-3">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; 2020 developed by <a href="https://lorna.dev" target="_blank">lorna.dev</a>. all rights reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <div class="social">
          <a href="mailto:hello@lorna.dev" target="_blank" class="gtag-footer-link-email">
            <fa-icon [icon]="faAt"></fa-icon>
          </a>
          <a href="https://www.linkedin.com/in/lornasw93" target="_blank" class="gtag-footer-link-linkedin">
            <fa-icon [icon]="faLinkedinIn"></fa-icon>
          </a>
          <a href="https://github.com/lornasw93" target="_blank" class="gtag-footer-link-github">
            <fa-icon [icon]="faGithubAlt"></fa-icon>
          </a>
          <a href="https://www.facebook.com/lornasw93" target="_blank" class="gtag-footer-link-facebook">
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a>
          <a href="https://twitter.com/lornasw93" target="_blank" class="gtag-footer-link-twitter">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a href="https://www.instagram.com/lornasw93" target="_blank" class="gtag-footer-link-instagram">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
