<footer id="footer">
  <div class="container">
    <div class="copyright-wrap d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; 2020 developed by <a href="https://lorna.dev" target="_blank">lorna.dev</a>. all rights reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <div class="social">
          <a href="mailto:hello@lorna.dev" target="_blank"><fa-icon [icon]="faEnvelope" size="1x"></fa-icon></a>
          <a href="https://www.linkedin.com/in/lornasw93" target="_blank"><fa-icon [icon]="faLinkedinIn" size="1x"></fa-icon></a>
          <a href="https://github.com/lornasw93" target="_blank"><fa-icon [icon]="faGithub" size="1x"></fa-icon></a>
          <a href="https://www.facebook.com/lornasw93" target="_blank"><fa-icon [icon]="faFacebook" size="1x"></fa-icon></a>
          <a href="https://twitter.com/lornasw93" target="_blank"><fa-icon [icon]="faTwitter" size="1x"></fa-icon></a>
          <a href="https://www.instagram.com/lornasw93" target="_blank"><fa-icon [icon]="faInstagram" size="1x"></fa-icon></a>
        </div>
      </div>
    </div>
  </div>
</footer>
