<footer id="footer">
  <div class="container">
    <div class="copyright-wrap d-md-flex py-4">
      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; developed by <a href="https://lorna.dev">lorna.dev</a>. all rights reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <!--<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->

        <div class="social">
          <a href="https://www.linkedin.com/in/lornasw" target="_blank"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon></a>
          <a href="https://github.com/lornasw93" target="_blank"><fa-icon [icon]="faGithub" size="2x"></fa-icon></a>
          <a href="https://www.facebook.com/lornasw" target="_blank"><fa-icon [icon]="faFacebook" size="2x"></fa-icon></a>
          <a href="https://twitter.com/lornasw93" target="_blank" class="twitter"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
          <a href="https://www.instagram.com/lornasw93" target="_blank"><fa-icon [icon]="faInstagram" size="2x"></fa-icon></a>
        </div>




      </div>
    </div>
  </div>
</footer>
