<section>
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1>Email Service</h1>
    </div>

    <app-project-status frontend="N/A"
                        backend="Node.js, Firebase Cloud Functions"
                        hosting="Firebase"
                        status="Finished v1, ongoing for v2"></app-project-status>

    <div class="row">
      <div class="col">
        <a href="https://github.com/lornasw93/email-service" target="_blank" onclick="clicky.goal('Click - Projects - Email Service - GitHub');">
          <fa-icon [icon]="faGithubAlt"></fa-icon> Repo
        </a>
        <br>
        <a href="https://dev.to/lornasw93/using-node-js-firebase-cloud-functions-and-nodemailer-smtp-to-send-an-email-51j8" target="_blank" onclick="clicky.goal('Click - Projects - Email Service - Blog Post');">
          <fa-icon [icon]="faDev"></fa-icon> Blog post
        </a>
        <p></p>
      </div>
    </div>
  </div>
</section>
