<section id="projects">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1>Projects</h1>
      <p>
        When I hear 'side projects', I think of: buying domains and not using them, half-finished projects and lack of free time.
        In general, it's known that most people will have some sort of project graveyard - stuff that has been started but never finished.
        So, you think of an idea for a website or app, and begin to work on it. Your motivation and productivity is at an all-time high.
        And then, it stops. 🛑 Main reason most likely due to time restrictions - can be impossible to dedicate time on your project work outside a full-time job.
        The cycle begins again: have an idea for a project, start, good progress, stop.
      </p>
      <br>
      <p>
        I really enjoy having project work to do - it keeps me busy and motivated. Sure, it's hard to actually complete with constant distractions and commitments but it's rewarding.
        I believe I only started doing project work maybe 1 or 2 years so not long ago at all, and sitting here having done SO many hours on them - I have no idea what I did before in my free time. 😂
        With working in the tech industry, it's so important to keep up to date with the latest stuff - or at least keep learning.
        Granted at times it can feel pretty overwhelming where I have felt I have too many things to learn - there is just so much out there.
        But that's also a good thing: everyday is different, constantly new tech coming out, new ways of doing things and better resources.
      </p>
      <br>
      <p>
        One of my personal short-term goals is to complete at least one of the below projects - also to note I will update the content of each project page when I can.
      </p>
    </div>
    <div class="row">
      <div class="band">
        <div *ngFor="let repo of repos" data-aos="zoom-in" data-aos-delay="100"> 
            <a [routerLink]="'/projects/epilepsy-diary'" class="icon-box card" onclick="clicky.goal('Click - Projects - Epilepsy Diary');">
              <article>
                <h4>{{repo.name}}</h4>
                <p>{{repo.description}}</p>
                <ul class="tags">
                  <li *ngFor="let tag of repo.topics">
                    <span>{{tag}}</span>
                  </li>
                </ul>
                <div class="row">
                  <div class="col-6">
                    <a href="{{repo.url}}" target="_blank">
                      <fa-icon [icon]="faGithub"></fa-icon> Repo
                    </a>
                  </div>
                  <div class="col-6">
                    <div *ngIf="repo.homepage!=''">
                      <a href="{{repo.homepage}}" target="_blank">
                        <fa-icon [icon]="faGlobe"></fa-icon> Website
                      </a>
                    </div>
                  </div>
                </div> 
                <span class="updated">Updated {{repo.updated_at | date:short}}</span>
              </article>
            </a> 
        </div> 
      </div> 
    </div> 
  </div> 
</section>
