<div class="page-header">
  <h1>about</h1>
</div>

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <h4>
          Split hair. Gemini. Mechanical keyboards. Developer. Enthusiastic. Passionate. Ambitious. Eager.
          Dad jokes. Problem solving. Analytics. Learner. Piercings. Banter. Projects. Challenge. Positive.
        </h4>
        <p>
          The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
          I’m a software developer for a healthcare company in Leeds, UK. I have a passion for programming and all things data analytics.
          I enjoy working full-stack.
          I can't see myself doing anything else but programming. Everyday is different, new challenges and solutions.
          There is always something new to learn, it's forever on-going.
        </p>
        <br />
        <p>
          When I’m not working full-time, I’m either working on side projects or learning something new and other little bits. I enjoy problem solving and logic.
          I liked IT in high school and then had my first taste doing Software Development (2 years) in college. I jumped into Huddersfield university doing Computing BSc (Hons) (4 years)
          and for my placement year had my first experience in the job. After graduating with a 2:2, I worked 1.5 years as a junior software developer at a small financial consultancy company.
          Moving on, I joined a healthcare company as a junior where I progressed to a mid; and more recently joined a digital agency company as a .NET developer. And here I am today.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <img src="../assets/about/young.jpg" />
      <img src="../assets/about/graduation.jpg" />
      <img src="../assets/about/chair.jpg" />
      <img src="../assets/about/camo-smile.JPG" />
      <img src="../assets/about/bright.jpg" />
      <img src="../assets/about/closeup.JPG" />
      <img src="../assets/about/back-grey-split.JPG" />
      <img src="../assets/about/back-pink-split.JPG" />
      <img src="../assets/about/recent.JPG" />
    </div>
  </div>
</section>

<app-footer></app-footer>
