<section id="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
      <p>
        The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
        I like to think myself as a positive, bubbly and ambitious.
        When I’m not working full-time, I’m either working on side projects or learning something new and other little bits.
        I enjoy problem solving and logic; I'm ambitious, like dad jokes and memes.
      </p>
      <br>
      <p>
        I'm 27 and my car is called Karen - previously had a Felicia. 🚗
        I had my first taste of programming in college and have loved it ever since.
        I'm really creative and think micro-services are fab.
        I have always lived in Leeds and haven't been one for travelling all over the world - the odd holiday does nicely.
        I'll update this soon, it's hard to think of interesting things. 🙊
      </p>
      <button [routerLink]="'/desk'" alt="Desk Setup">My Desk</button>
    </div>
  </div>
  <div class="container">
    <div class="gallery">
      <div class="gallery-item" data-aos="fade-up" data-aos-delay="100">
        <img class="gallery-image" src="../assets/about/graduation.jpg" alt="Graduation 2015">
      </div>
      <div class="gallery-item"data-aos="fade-up" data-aos-delay="150">
        <img class="gallery-image" src="../assets/about/chair.jpg" alt="Comfortable seating">
      </div>
      <div class="gallery-item"data-aos="fade-up" data-aos-delay="200">
        <img class="gallery-image" src="../assets/about/camo-smile.JPG" alt="Closeup smiley shot">
      </div>
      <div class="gallery-item"data-aos="fade-up" data-aos-delay="250">
        <img class="gallery-image" src="../assets/about/closeup.JPG" alt="Another closeup smile shot">
      </div>
      <div class="gallery-item"data-aos="fade-up" data-aos-delay="300">
        <img class="gallery-image" src="../assets/about/back-grey-split.JPG" alt="Favourite hair yet">
      </div>
      <div class="gallery-item"data-aos="fade-up" data-aos-delay="350">
        <img class="gallery-image" src="../assets/about/back-pink-split.JPG" alt="Cute pink">
      </div>
    </div>
  </div>
</section>
