<section id="about">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <p>
        The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
        I enjoy working full-stack and like to think myself as a positive, bubbly and ambitious.
        When I’m not working full-time, I’m either working on side projects or learning something new and other little bits.
        I enjoy problem solving and logic; I'm ambitious, like dad jokes and memes.
      </p>
      <br>
      <p></p>
      <button [routerLink]="'/desk'" alt="Desk Setup">Desk Setup</button>
    </div>
  </div>
  <div class="container">
    <div class="gallery">
      <div class="gallery-item">
        <img class="gallery-image" src="../assets/about/graduation.jpg" alt="">
      </div>
      <div class="gallery-item">
        <img class="gallery-image" src="../assets/about/chair.jpg" alt="">
      </div>
      <div class="gallery-item">
        <img class="gallery-image" src="../assets/about/camo-smile.JPG" alt="">
      </div>
      <div class="gallery-item">
        <img class="gallery-image" src="../assets/about/closeup.JPG" alt="">
      </div>
      <div class="gallery-item">
        <img class="gallery-image" src="../assets/about/back-grey-split.JPG" alt="">
      </div>
      <div class="gallery-item">
        <img class="gallery-image" src="../assets/about/back-pink-split.JPG" alt="">
      </div>
    </div>
  </div>
</section>
