<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-brand">
    <!--<div class="logo mr-auto"><a href="/">lorna.dev</a></div>-->
    <a href="/" class="logo mr-auto"><img src="assets/white-logo.png" alt="" class="img-fluid"></a>
  </div>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><fa-icon [icon]="faHome"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/about'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/desk'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Desk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/tech'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Tech</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/blog'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Blog (11)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/projects'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Projects (8)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="assets/Lorna_Watson_CV.pdf" target="_blank">
          <span><fa-icon [icon]="faDownload"></fa-icon> CV</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/contact'" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Contact</a>
      </li>
    </ul>
  </div>
</nav>
