<div class="page-header">
  <h1>my desk</h1>
</div>

<div class="container">
  <section class="desk">
     <div class="row">
      <div class="col">
        <img src="../assets/about/cables.jpg" loading="lazy">
        <img src="../assets/about/desk-hole.jpg" loading="lazy">
        <img src="../assets/about/desk1.jpg" loading="lazy">
        <img src="../assets/about/desk2.jpg" loading="lazy">
      </div>
      <div class="col">
        <p>I can't even begin to explain the amount fo time I have spent researching into my dream setup. I'm serving modern comfort minimalism.</p>

        <table class="table">
          <tbody>
          <tr>
            <td>
              Ducky One2 SF Keyboard<br>
              <i>Christmas present and favourite keyboard</i>
            </td>
            <td class="store"><a href="https://www.amazon.co.uk/DuckyChannel-Backlit-Cherry-Keyboard-DKON1967ST-CUKPDAZT1/dp/B07Z8H928F/ref=sr_1_1?crid=3E5T1RJQAMPHQ&dchild=1&keywords=ducky+one+2+sf&qid=1585605688&sprefix=ducky%2Caps%2C153&sr=8-1" target="_blank">Amazon</a></td>
            <td>£110</td>
          </tr>
          <tr>
            <td>
              Corsair K70 MK.2 RGB SE Keyboard<br>
              <i>Not used</i>
            </td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07DKJRQ13/ref=ppx_yo_dt_b_asin_title_o07_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£159.95</td>
          </tr>
          <tr>
            <td>VicTsing Mouse</td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B01ID78UBM/ref=ppx_yo_dt_b_asin_title_o08_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£11.99</td>
          </tr>
          <tr>
            <td>
              Cosmos Series Laptop (custom built)<br>
              <i>inc. 17.3" screen, 32GB RAM, 2TD SSD</i>
            </td>
            <td class="store"><a href="https://www.pcspecialist.co.uk/" target="_blank">PC Specialist</a></td>
            <td>£1269</td>
          </tr>
          <tr>
            <td>1080 HD Webcam</td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/1080P-HD-Webcam-Conference-Video-Calling-Computer-Camera-With-Microphone/373031119767?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£20.99</td>
          </tr>
          <tr>
            <td>White block legs (x8)</td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/1-Or-4-Wooden-Furniture-Replacement-Legs-Beds-Cabinet-Settees-Sofas-Feet-Pine/362420134245?ssPageName=STRK%3AMEBIDX%3AIT&var=631673692090&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£15.98</td>
          </tr>
          <tr>
            <td>Self adhesive non-slip pieces (x2)</td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/Protector-Rubber-Feet-Chair-Leg-Pads-Self-Adhesive-Non-slip-Sofa-Table-Mat-UK/312779996435?ssPageName=STRK%3AMEBIDX%3AIT&var=611509954369&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£2.59</td>
          </tr>
          <tr>
            <td>Mounting plates (x2)</td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/Furniture-Leg-Feet-Fixing-Mounting-Plates-Brackets-M8-8mm-Thread-Set-of-4-Pieces/282556532609?ssPageName=STRK%3AMEBIDX%3AIT&var=581720572938&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£12.90</td>
          </tr>
          <tr>
            <td>
              Extension lead cable<br>
              <i>Placed under desk</i>
            </td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/Extension-Lead-Multi-Plug-Mains-Cables-1-2-3-4-6-8-10-Gang-UK-Plug-Black-White/232379901178?ssPageName=STRK%3AMEBIDX%3AIT&var=531653319398&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£10.49</td>
          </tr>
          <tr>
            <td>Leather black matt</td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/Soft-Large-Leather-Computer-Desk-Mat-Table-Keyboard-Mouse-Pad-Laptop-Cushion/401735301529?ssPageName=STRK%3AMEBIDX%3AIT&var=671505310074&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£9.85</td>
          </tr>
          <tr>
            <td>All black chair</td>
            <td class="store"><a href="https://www.ebay.co.uk/itm/JL-Comfurni-Gaming-Racing-Chair-Office-Executive-Recliner-Adjustable-Fx-Leather/123813389473?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
            <td>£63.99</td>
          </tr>
          <tr>
            <td>USB 3.0 hub x4 ports</td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B00Y25XFGK/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£14.99</td>
          </tr>
          <tr>
            <td>Monitor stand holding x2 monitors</td>
            <td>eBay</td>
            <td>TBC</td>
          </tr>
          <tr>
            <td>Acer 23.6" monitors (x2)</td>
            <td>CCL Online</td>
            <td>£184.96</td>
          </tr>
          <tr>
            <td>
              iiyama 24" monitor<br>
              <i>Portrait screen</i>
            </td>
            <td>CCL Online</td>
            <td>£149.99</td>
          </tr>
          <tr>
            <td>
              Double-sided no trace strong gel adhesive tape<br>
              <i>Used for placing extension cable lead under desk</i>
            </td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07V6FT5SL/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£6.99</td>
          </tr>

          <tr>
            <td>Zacro cable ties</td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B0725ZZBLV/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£7.99</td>
          </tr>
          <tr>
            <td>
              Startech.com 3 port mini DP to DP splitter<br>
              <i>Works well except for when playing videos where the screens flash often</i>
            </td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B00JLRBC7S/ref=ppx_od_dt_b_asin_title_s01?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£74.69</td>
          </tr>
          <tr>
            <td>4k DP to HDMi 3m cables (x3)</td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B01HXOU4Y2/ref=ppx_od_dt_b_asin_title_s02?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£35.97</td>
          </tr>
          <tr>
            <td>Silicone adhesive cable clips</td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B078WMCWDD/ref=ppx_od_dt_b_asin_title_s03?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£10.99</td>
          </tr>
          <tr>
            <td>Self adhesive cable management clips</td>
            <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07RQCXCR2/ref=ppx_od_dt_b_asin_title_s03?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
            <td>£11.95</td>
          </tr>
          <tr>
            <td>
              Oak desktop<br>
              <i>Drove over an hour to get it. 180cm (L) x 75cm (W) x 4cm (D)</i>
            </td>
            <td>Facebook Marketplace</td>
            <td>£165</td>
          </tr>
          <tr>
            <td>
              Ikea Alex drawers (x2)<br>
              <i>Bought as a <a href="https://www.ikea.com/gb/en/p/linnmon-alex-table-white-s59932698/">Linnmon/Alex</a> set originally and kept the drawers</i>
            </td>
            <td class="store"><a href="https://www.ikea.com/gb/en/p/alex-drawer-unit-white-10192824/" target="_blank">Ikea</a></td>
            <td>TBC</td>
          </tr>
          <tr>
            <td>White rug</td>
            <td class="store"><a href="https://www.ikea.com/gb/en/p/toftlund-rug-white-20420241/" target="_blank">Ikea</a></td>
            <td>£7</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
