<div class="page-header">
  <h1>desk</h1>
</div>

<div class="container">
  <section class="desk">



    <p>


      Keyboard: <a href="https://www.amazon.co.uk/DuckyChannel-Backlit-Cherry-Keyboard-DKON1967ST-CUKPDAZT1/dp/B07Z8H928F/ref=sr_1_1?crid=3E5T1RJQAMPHQ&dchild=1&keywords=ducky+one+2+sf&qid=1585605688&sprefix=ducky%2Caps%2C153&sr=8-1" target="_blank">Ducky One2 SF</a>
      Laptop: Custom built from <a href="https://www.pcspecialist.co.uk/" target="_blank">PC Specialist</a> including 32GB RAM, 17.3" screen and 2TB SSD

      Monitor stand: 


      Oak desktop: Facebook Marketplace, traveled over an hour to get it
      Drawers: <a href="https://www.ikea.com/gb/en/p/alex-drawer-unit-white-10192824/" target="_blank">Ikea alex drawers</a>

    </p>

    <img src="../assets/about/desk1.jpg" loading="lazy">
    <img src="../assets/about/desk2.jpg" loading="lazy">
  </section>
</div>
