<div id="home" #home>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Hey, I'm Lorna from Leeds, UK and work as a Software Engineer with 6+ years experience in the industry.</h1>
        <p>
          I created this portfolio website for a space to showcase info about me, my journey, blog posts and projects.
          I'm trying to keep content up-to-date. Feel free to send over a message via my contact page or socal
          links in the footer. I'd love to connect. 🔥
        </p>
        <button [routerLink]="'/about'" alt="Find out More" onclick="clicky.goal('Click - Home - Find out more');">Find out More</button>
      </div>
    </div>
  </div>
</div>

<app-about></app-about>
<app-tech></app-tech>
<app-blog></app-blog>
<app-projects></app-projects>
<app-contact></app-contact>
