<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Hello, I'm Lorna - Software Developer from Leeds, UK</h1>
        <h2>Software Developer from Leeds, UK</h2>
        <!--<div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>-->
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <!--<img src="assets/undraw_proud_coder_7ain.svg" class="img-fluid animated" alt="">-->
        <img src="assets/undraw_web_development_w2vv.svg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<main id="main">

  <!--About-->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <!--<img src="../assets/about/camo-smile.JPG" class="img-fluid" alt="">-->
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Me, Myself and I</h3>
          <p>
            The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
            I’m a software developer based in Leeds, UK. I have a passion for programming and all things data analytics. I enjoy working full-stack.
            There is always something new to learn. Everyday is different, new challenges and solutions. I like to think myself as a positive, bubbly and ambitious.
          </p>
          <p>
            When I’m not working full-time, I’m either working on side projects or learning something new and other little bits.
            I enjoy problem solving and logic; I'm ambitious, positive and like dad jokes.
            I am currently at <a href="https://www.epiphanysearch.co.uk/" target="_blank">Epiphany <fa-icon [icon]="faShareSquare"></fa-icon></a> as a .NET developer.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="tech" class="tech section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Tech</h2>
        <p>
          Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="box">
            <h3>Everyday</h3> 
            <ul>
              <li>VS 19 with Resharper</li>
              <li>Cmder</li>
              <li>WakaTime</li>
              <li>Sublime Text</li>
              <li>draw.io</li>
              <li>Postman</li>
              <li>Chrome</li>
            </ul> 
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
          <div class="box">
            <h3>Personal projects</h3> 
            <ul>
              <li>IONOS for domains</li>
              <li>Fasthosts for emails</li>
              <li>Firebase for hosting Angular projects</li>
              <li>Azure SQL for databases</li>
              <li>Azure Web App Services for deploying .NET Core web apps</li>
            </ul> 
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box">
            <h3>Wish list</h3> 
            <ul>
              <li>Docker</li>
              <li>Flutter</li>
              <li>React</li>
              <li>Identity Server</li>
            </ul> 
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
          <div class="box"> 
            <h3>More</h3> 
            <ul>
              <li>Securing APIs</li>
              <li>Active blogging</li>
              <li>Finishing personal projects</li>
            </ul> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="desk" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Desk</h2>
        <p>
          I can't even begin to explain the amount of time I have spent researching into my dream setup. I'm serving minimalistic modern comfort.
        </p>
      </div>
      <div class="row">
        <div class="col content">
          <!--<table class="table">
            <tbody>
              <tr>
                <td>
                  Ducky One2 SF Keyboard<br>
                  <i>Christmas present and favourite keyboard</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/DuckyChannel-Backlit-Cherry-Keyboard-DKON1967ST-CUKPDAZT1/dp/B07Z8H928F/ref=sr_1_1?crid=3E5T1RJQAMPHQ&dchild=1&keywords=ducky+one+2+sf&qid=1585605688&sprefix=ducky%2Caps%2C153&sr=8-1" target="_blank">Amazon</a></td>
                <td>£110</td>
              </tr>
              <tr>
                <td>
                  Corsair K70 MK.2 RGB SE Keyboard<br>
                  <i>Not used</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07DKJRQ13/ref=ppx_yo_dt_b_asin_title_o07_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£159.95</td>
              </tr>
              <tr>
                <td>Anker (vertical) mouse</td>
                <td class="store"><a href="https://www.amazon.co.uk/Anker-Wireless-Vertical-Ergonomic-Optical/dp/B00BIFNTMC/ref=asc_df_B00BIFNTMC/?tag=googshopuk-21&linkCode=df0&hvadid=310552784321&hvpos=&hvnetw=g&hvrand=1025214330516276312&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9046317&hvtargid=pla-378617878006&psc=1" target="_blank">Amazon</a></td>
                <td>£15.99</td>
              </tr>
              <tr>
                <td>
                  Cosmos Series Laptop (custom built)<br>
                  <i>inc. 17.3" screen, 32GB RAM, 2TD SSD</i>
                </td>
                <td class="store"><a href="https://www.pcspecialist.co.uk/" target="_blank">PC Specialist</a></td>
                <td>£1269</td>
              </tr>
              <tr>
                <td>1080 HD Webcam</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/1080P-HD-Webcam-Conference-Video-Calling-Computer-Camera-With-Microphone/373031119767?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£20.99</td>
              </tr>
              <tr>
                <td>White block legs (x8)</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/1-Or-4-Wooden-Furniture-Replacement-Legs-Beds-Cabinet-Settees-Sofas-Feet-Pine/362420134245?ssPageName=STRK%3AMEBIDX%3AIT&var=631673692090&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£15.98</td>
              </tr>
              <tr>
                <td>Self adhesive non-slip pieces (x2)</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Protector-Rubber-Feet-Chair-Leg-Pads-Self-Adhesive-Non-slip-Sofa-Table-Mat-UK/312779996435?ssPageName=STRK%3AMEBIDX%3AIT&var=611509954369&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£2.59</td>
              </tr>
              <tr>
                <td>Mounting plates (x2)</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Furniture-Leg-Feet-Fixing-Mounting-Plates-Brackets-M8-8mm-Thread-Set-of-4-Pieces/282556532609?ssPageName=STRK%3AMEBIDX%3AIT&var=581720572938&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£12.90</td>
              </tr>
              <tr>
                <td>
                  Extension lead cable<br>
                  <i>Placed under desk</i>
                </td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Extension-Lead-Multi-Plug-Mains-Cables-1-2-3-4-6-8-10-Gang-UK-Plug-Black-White/232379901178?ssPageName=STRK%3AMEBIDX%3AIT&var=531653319398&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£10.49</td>
              </tr>
              <tr>
                <td>Leather black matt</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Soft-Large-Leather-Computer-Desk-Mat-Table-Keyboard-Mouse-Pad-Laptop-Cushion/401735301529?ssPageName=STRK%3AMEBIDX%3AIT&var=671505310074&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£9.85</td>
              </tr>
              <tr>
                <td>All black chair</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/JL-Comfurni-Gaming-Racing-Chair-Office-Executive-Recliner-Adjustable-Fx-Leather/123813389473?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£63.99</td>
              </tr>
              <tr>
                <td>USB 3.0 hub x4 ports</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B00Y25XFGK/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£14.99</td>
              </tr>
              <tr>
                <td>Monitor stand holding x2 monitors</td>
                <td>eBay</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Acer 23.6" monitors (x2)</td>
                <td>CCL Online</td>
                <td>£184.96</td>
              </tr>
              <tr>
                <td>
                  iiyama 24" monitor<br>
                  <i>Portrait screen</i>
                </td>
                <td>CCL Online</td>
                <td>£149.99</td>
              </tr>
              <tr>
                <td>
                  Double-sided no trace strong gel adhesive tape<br>
                  <i>Used for placing extension cable lead under desk</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07V6FT5SL/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£6.99</td>
              </tr>
              <tr>
                <td>Zacro cable ties</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B0725ZZBLV/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£7.99</td>
              </tr>
              <tr>
                <td>
                  Startech.com 3 port mini DP to DP splitter<br>
                  <i>Works well except for when playing videos where the screens flash often</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B00JLRBC7S/ref=ppx_od_dt_b_asin_title_s01?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£74.69</td>
              </tr>
              <tr>
                <td>4k DP to HDMi 3m cables (x3)</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B01HXOU4Y2/ref=ppx_od_dt_b_asin_title_s02?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£35.97</td>
              </tr>
              <tr>
                <td>Silicone adhesive cable clips</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B078WMCWDD/ref=ppx_od_dt_b_asin_title_s03?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£10.99</td>
              </tr>
              <tr>
                <td>Self adhesive cable management clips</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07RQCXCR2/ref=ppx_od_dt_b_asin_title_s03?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£11.95</td>
              </tr>
              <tr>
                <td>
                  Oak desktop<br>
                  <i>Drove over an hour to get it. 180cm (L) x 75cm (W) x 4cm (D)</i>
                </td>
                <td>Facebook Marketplace</td>
                <td>£165</td>
              </tr>
              <tr>
                <td>
                  Ikea Alex drawers (x2)<br>
                  <i>Bought as a <a href="https://www.ikea.com/gb/en/p/linnmon-alex-table-white-s59932698/">Linnmon/Alex</a> set originally and kept the drawers</i>
                </td>
                <td class="store"><a href="https://www.ikea.com/gb/en/p/alex-drawer-unit-white-10192824/" target="_blank">Ikea</a></td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>White rug</td>
                <td class="store"><a href="https://www.ikea.com/gb/en/p/toftlund-rug-white-20420241/" target="_blank">Ikea</a></td>
                <td>£7</td>
              </tr>
            </tbody>
          </table>-->
        </div>
      </div>
    </div>
  </section>
  <div class="counts">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul>
            <li><img src="../assets/about/desk/desk1.jpg"></li>
            <li><img src="../assets/about/desk/cables.jpg"></li>
            <li><img src="../assets/about/desk/desk2.jpg"></li>
            <li><img src="../assets/about/desk/laptop-corsair.jpg"></li>
            <li><img src="../assets/about/desk/laptop-corsair2.jpeg"></li>
            <li><img src="../assets/about/desk/laptop-ducky.jpg"></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
   

<section id="projects" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Projects</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>
      <div class="row"> 
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box iconbox-epilepsydiary">
            <div class="icon">
              <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="medkit" class="svg-inline--fa fa-medkit fa-w-16 fa-6x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M96 480h320V128h-32V80c0-26.51-21.49-48-48-48H176c-26.51 0-48 21.49-48 48v48H96v352zm96-384h128v32H192V96zm320 80v256c0 26.51-21.49 48-48 48h-16V128h16c26.51 0 48 21.49 48 48zM64 480H48c-26.51 0-48-21.49-48-48V176c0-26.51 21.49-48 48-48h16v352zm288-208v32c0 8.837-7.163 16-16 16h-48v48c0 8.837-7.163 16-16 16h-32c-8.837 0-16-7.163-16-16v-48h-48c-8.837 0-16-7.163-16-16v-32c0-8.837 7.163-16 16-16h48v-48c0-8.837 7.163-16 16-16h32c8.837 0 16 7.163 16 16v48h48c8.837 0 16 7.163 16 16z"></path></svg>
            </div>
            <h4><a href="">Epilepsy Diary</a></h4>
            <p>Keeping track of your epilepsy i.e. seizure info, medications, doctor appointments etc.</p>
          </div>
        </div>
         
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box iconbox-devopstats ">
            <div class="icon">
              <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="medkit" class="svg-inline--fa fa-medkit fa-w-16 fa-6x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M96 480h320V128h-32V80c0-26.51-21.49-48-48-48H176c-26.51 0-48 21.49-48 48v48H96v352zm96-384h128v32H192V96zm320 80v256c0 26.51-21.49 48-48 48h-16V128h16c26.51 0 48 21.49 48 48zM64 480H48c-26.51 0-48-21.49-48-48V176c0-26.51 21.49-48 48-48h16v352zm288-208v32c0 8.837-7.163 16-16 16h-48v48c0 8.837-7.163 16-16 16h-32c-8.837 0-16-7.163-16-16v-48h-48c-8.837 0-16-7.163-16-16v-32c0-8.837 7.163-16 16-16h48v-48c0-8.837 7.163-16 16-16h32c8.837 0 16 7.163 16 16v48h48c8.837 0 16 7.163 16 16z"></path></svg>
            </div>
            <h4><a href="">DevOp Stats</a></h4>
            <p>Providing useful stats by combining typical everyday queries using Azure DevOps REST API into a dashboard-type site.</p>
            <ul class="tags">
              <li>Azure DevOps</li>
              <li>.NET Core</li>
              <li>Angular</li>
              <li>Swagger</li>
              <li>REST API</li>
            </ul>
            <div class="pull-right">
              <a href="https://github.com/lornasw93/devopstats"><fa-icon [icon]="faGithub"></fa-icon></a>
              <a href="https://devopstats.co"><fa-icon [icon]="faGlobe"></fa-icon></a>
            </div>
          </div>
        </div>
         
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box iconbox-commsservice">
            <div class="icon">
              <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="comments" class="svg-inline--fa fa-comments fa-w-18 fa-6x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M416 192c0-88.4-93.1-160-208-160S0 103.6 0 192c0 34.3 14.1 65.9 38 92-13.4 30.2-35.5 54.2-35.8 54.5-2.2 2.3-2.8 5.7-1.5 8.7S4.8 352 8 352c36.6 0 66.9-12.3 88.7-25 32.2 15.7 70.3 25 111.3 25 114.9 0 208-71.6 208-160zm122 220c23.9-26 38-57.7 38-92 0-66.9-53.5-124.2-129.3-148.1.9 6.6 1.3 13.3 1.3 20.1 0 105.9-107.7 192-240 192-10.8 0-21.3-.8-31.7-1.9C207.8 439.6 281.8 480 368 480c41 0 79.1-9.2 111.3-25 21.8 12.7 52.1 25 88.7 25 3.2 0 6.1-1.9 7.3-4.8 1.3-2.9.7-6.3-1.5-8.7-.3-.3-22.4-24.2-35.8-54.5z"></path></svg>
            </div>
            <h4><a href="">Comms Service</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
         
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box iconbox-mikesflooring">
            <div class="icon">
              <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="hammer" class="svg-inline--fa fa-hammer fa-w-18 fa-6x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M571.31 193.94l-22.63-22.63c-6.25-6.25-16.38-6.25-22.63 0l-11.31 11.31-28.9-28.9c5.63-21.31.36-44.9-16.35-61.61l-45.25-45.25c-62.48-62.48-163.79-62.48-226.28 0l90.51 45.25v18.75c0 16.97 6.74 33.25 18.75 45.25l49.14 49.14c16.71 16.71 40.3 21.98 61.61 16.35l28.9 28.9-11.31 11.31c-6.25 6.25-6.25 16.38 0 22.63l22.63 22.63c6.25 6.25 16.38 6.25 22.63 0l90.51-90.51c6.23-6.24 6.23-16.37-.02-22.62zm-286.72-15.2c-3.7-3.7-6.84-7.79-9.85-11.95L19.64 404.96c-25.57 23.88-26.26 64.19-1.53 88.93s65.05 24.05 88.93-1.53l238.13-255.07c-3.96-2.91-7.9-5.87-11.44-9.41l-49.14-49.14z"></path></svg>
            </div>
            <h4><a href="">Mike's Flooring</a></h4>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
          
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
          <div class="icon-box iconbox-csvtomap">
            <div class="icon">
              <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marked-alt" class="svg-inline--fa fa-map-marked-alt fa-w-18 fa-6x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M288 0c-69.59 0-126 56.41-126 126 0 56.26 82.35 158.8 113.9 196.02 6.39 7.54 17.82 7.54 24.2 0C331.65 284.8 414 182.26 414 126 414 56.41 357.59 0 288 0zm0 168c-23.2 0-42-18.8-42-42s18.8-42 42-42 42 18.8 42 42-18.8 42-42 42zM20.12 215.95A32.006 32.006 0 0 0 0 245.66v250.32c0 11.32 11.43 19.06 21.94 14.86L160 448V214.92c-8.84-15.98-16.07-31.54-21.25-46.42L20.12 215.95zM288 359.67c-14.07 0-27.38-6.18-36.51-16.96-19.66-23.2-40.57-49.62-59.49-76.72v182l192 64V266c-18.92 27.09-39.82 53.52-59.49 76.72-9.13 10.77-22.44 16.95-36.51 16.95zm266.06-198.51L416 224v288l139.88-55.95A31.996 31.996 0 0 0 576 426.34V176.02c0-11.32-11.43-19.06-21.94-14.86z"></path></svg>
            </div>
            <h4><a href="">CSV to Map</a></h4>
            <p>Parsing a list of postcodes in both .CSV / .JSON file formats to a map using marker clusters from Google Maps API.</p>
          </div>
        </div> 
      </div>
    </div>
  </section>

  <app-contact></app-contact>
</main>
