<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>Hello, I'm Lorna - Software Developer from Leeds, UK</h1>
        <h2>Software Developer from Leeds, UK</h2>
        <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="150">
        <!--<img src="assets/undraw_proud_coder_7ain.svg" class="img-fluid animated" alt="">-->
        <img src="assets/undraw_web_development_w2vv.svg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>
<main id="main">

  <!--About-->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col content">
          <h3>Me, Myself and I</h3>
          <p>
            The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
            I’m a software developer based in Leeds, UK. I have a passion for programming and all things data analytics. I enjoy working full-stack.
            There is always something new to learn. Everyday is different, new challenges and solutions. I like to think myself as a positive, bubbly and ambitious.
          </p>
          <p>
            When I’m not working full-time, I’m either working on side projects or learning something new and other little bits.
            I enjoy problem solving and logic; I'm ambitious, positive and like dad jokes.
            I am currently at <a href="https://www.epiphanysearch.co.uk/" target="_blank">Epiphany <fa-icon [icon]="faShareSquare"></fa-icon></a> as a .NET developer.
          </p>
          <p>
            * Morning or evening? - Absolutely evening. I write this at 3am on a Friday night.
            <br>* Anything on the horizon to learn? - Many things including: Flutter, Twilio and more Angular.
            <br>* Last tech thing bought? - <a href="/">A cool vertical mouse</a>
            <br>* Software used on a daily basis? - VS with ReSharper, Cmder, Sublime Text, draw.io, Postman for API, Chrome
            <br>* Personal project setup? - <a href="https://www.ionos.co.uk/" target="_blank">IONOS</a> for domains, <a href="https://www.fasthosts.co.uk/" target="_blank">Fasthosts</a> for emails, both Azure and <a href="https://firebase.google.com/" target="_blank">Firebase</a> for hosting, Azure for DB (SQL Server)
          </p>
          <!--<a href="#" class="read-more">Read More <i class="icofont-long-arrow-right"></i></a>-->
        </div>
      </div>
    </div>
  </section>
  <div class="counts">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul>
            <li><img src="../assets/about/graduation.jpg"></li>
            <li><img src="../assets/about/chair.jpg"></li>
            <li><img src="../assets/about/camo-smile.JPG"></li>
            <li><img src="../assets/about/closeup.JPG"></li>
            <li><img src="../assets/about/back-grey-split.JPG"></li>
            <li><img src="../assets/about/back-pink-split.JPG"></li>
            <li><img src="../assets/about/recent.jpg"></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!--Desk-->
  <section id="desk" class="services section-bg">
    <div class="container">
      <div class="section-title">
        <h2>Desk</h2>
        <p>
          I can't even begin to explain the amount of time I have spent researching into my dream setup. I'm serving minimalistic modern comfort.
        </p>
      </div>
      <div class="row">
        <div class="col content">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  Ducky One2 SF Keyboard<br>
                  <i>Christmas present and favourite keyboard</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/DuckyChannel-Backlit-Cherry-Keyboard-DKON1967ST-CUKPDAZT1/dp/B07Z8H928F/ref=sr_1_1?crid=3E5T1RJQAMPHQ&dchild=1&keywords=ducky+one+2+sf&qid=1585605688&sprefix=ducky%2Caps%2C153&sr=8-1" target="_blank">Amazon</a></td>
                <td>£110</td>
              </tr>
              <tr>
                <td>
                  Corsair K70 MK.2 RGB SE Keyboard<br>
                  <i>Not used</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07DKJRQ13/ref=ppx_yo_dt_b_asin_title_o07_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£159.95</td>
              </tr>
              <tr>
                <td>Anker (vertical) mouse</td>
                <td class="store"><a href="https://www.amazon.co.uk/Anker-Wireless-Vertical-Ergonomic-Optical/dp/B00BIFNTMC/ref=asc_df_B00BIFNTMC/?tag=googshopuk-21&linkCode=df0&hvadid=310552784321&hvpos=&hvnetw=g&hvrand=1025214330516276312&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9046317&hvtargid=pla-378617878006&psc=1" target="_blank">Amazon</a></td>
                <td>£15.99</td>
              </tr>
              <tr>
                <td>
                  Cosmos Series Laptop (custom built)<br>
                  <i>inc. 17.3" screen, 32GB RAM, 2TD SSD</i>
                </td>
                <td class="store"><a href="https://www.pcspecialist.co.uk/" target="_blank">PC Specialist</a></td>
                <td>£1269</td>
              </tr>
              <tr>
                <td>1080 HD Webcam</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/1080P-HD-Webcam-Conference-Video-Calling-Computer-Camera-With-Microphone/373031119767?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£20.99</td>
              </tr>
              <tr>
                <td>White block legs (x8)</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/1-Or-4-Wooden-Furniture-Replacement-Legs-Beds-Cabinet-Settees-Sofas-Feet-Pine/362420134245?ssPageName=STRK%3AMEBIDX%3AIT&var=631673692090&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£15.98</td>
              </tr>
              <tr>
                <td>Self adhesive non-slip pieces (x2)</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Protector-Rubber-Feet-Chair-Leg-Pads-Self-Adhesive-Non-slip-Sofa-Table-Mat-UK/312779996435?ssPageName=STRK%3AMEBIDX%3AIT&var=611509954369&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£2.59</td>
              </tr>
              <tr>
                <td>Mounting plates (x2)</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Furniture-Leg-Feet-Fixing-Mounting-Plates-Brackets-M8-8mm-Thread-Set-of-4-Pieces/282556532609?ssPageName=STRK%3AMEBIDX%3AIT&var=581720572938&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£12.90</td>
              </tr>
              <tr>
                <td>
                  Extension lead cable<br>
                  <i>Placed under desk</i>
                </td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Extension-Lead-Multi-Plug-Mains-Cables-1-2-3-4-6-8-10-Gang-UK-Plug-Black-White/232379901178?ssPageName=STRK%3AMEBIDX%3AIT&var=531653319398&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£10.49</td>
              </tr>
              <tr>
                <td>Leather black matt</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/Soft-Large-Leather-Computer-Desk-Mat-Table-Keyboard-Mouse-Pad-Laptop-Cushion/401735301529?ssPageName=STRK%3AMEBIDX%3AIT&var=671505310074&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£9.85</td>
              </tr>
              <tr>
                <td>All black chair</td>
                <td class="store"><a href="https://www.ebay.co.uk/itm/JL-Comfurni-Gaming-Racing-Chair-Office-Executive-Recliner-Adjustable-Fx-Leather/123813389473?ssPageName=STRK%3AMEBIDX%3AIT&_trksid=p2057872.m2749.l2649" target="_blank">eBay</a></td>
                <td>£63.99</td>
              </tr>
              <tr>
                <td>USB 3.0 hub x4 ports</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B00Y25XFGK/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£14.99</td>
              </tr>
              <tr>
                <td>Monitor stand holding x2 monitors</td>
                <td>eBay</td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>Acer 23.6" monitors (x2)</td>
                <td>CCL Online</td>
                <td>£184.96</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col content">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  iiyama 24" monitor<br>
                  <i>Portrait screen</i>
                </td>
                <td>CCL Online</td>
                <td>£149.99</td>
              </tr>
              <tr>
                <td>
                  Double-sided no trace strong gel adhesive tape<br>
                  <i>Used for placing extension cable lead under desk</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07V6FT5SL/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£6.99</td>
              </tr>
              <tr>
                <td>Zacro cable ties</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B0725ZZBLV/ref=ppx_od_dt_b_asin_title_s00?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£7.99</td>
              </tr>
              <tr>
                <td>
                  Startech.com 3 port mini DP to DP splitter<br>
                  <i>Works well except for when playing videos where the screens flash often</i>
                </td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B00JLRBC7S/ref=ppx_od_dt_b_asin_title_s01?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£74.69</td>
              </tr>
              <tr>
                <td>4k DP to HDMi 3m cables (x3)</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B01HXOU4Y2/ref=ppx_od_dt_b_asin_title_s02?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£35.97</td>
              </tr>
              <tr>
                <td>Silicone adhesive cable clips</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B078WMCWDD/ref=ppx_od_dt_b_asin_title_s03?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£10.99</td>
              </tr>
              <tr>
                <td>Self adhesive cable management clips</td>
                <td class="store"><a href="https://www.amazon.co.uk/gp/product/B07RQCXCR2/ref=ppx_od_dt_b_asin_title_s03?ie=UTF8&psc=1" target="_blank">Amazon</a></td>
                <td>£11.95</td>
              </tr>
              <tr>
                <td>
                  Oak desktop<br>
                  <i>Drove over an hour to get it. 180cm (L) x 75cm (W) x 4cm (D)</i>
                </td>
                <td>Facebook Marketplace</td>
                <td>£165</td>
              </tr>
              <tr>
                <td>
                  Ikea Alex drawers (x2)<br>
                  <i>Bought as a <a href="https://www.ikea.com/gb/en/p/linnmon-alex-table-white-s59932698/">Linnmon/Alex</a> set originally and kept the drawers</i>
                </td>
                <td class="store"><a href="https://www.ikea.com/gb/en/p/alex-drawer-unit-white-10192824/" target="_blank">Ikea</a></td>
                <td>TBC</td>
              </tr>
              <tr>
                <td>White rug</td>
                <td class="store"><a href="https://www.ikea.com/gb/en/p/toftlund-rug-white-20420241/" target="_blank">Ikea</a></td>
                <td>£7</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <div class="counts">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <ul>
            <li><img src="../assets/about/desk/cables.jpg"></li>
            <li><img src="../assets/about/desk/desk1.jpg"></li>
            <li><img src="../assets/about/desk/desk2.jpg"></li>
            <li><img src="../assets/about/desk/laptop-corsair.jpg"></li>
            <li><img src="../assets/about/desk/laptop-corsair2.jpeg"></li>
            <li><img src="../assets/about/desk/laptop-ducky.jpg"></li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!--Projects-->
<section id="projects" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Projects</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>
    <div class="row">





      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box iconbox-blue">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
            </svg>
            <i class="bx bxl-dribbble"></i>
          </div>
          <h4><a href="">Epilepsy Diary</a></h4>
          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>




      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box iconbox-orange ">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
            </svg>
            <i class="bx bx-file"></i>
          </div>
          <h4><a href="">DevOp Stats</a></h4>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>




      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box iconbox-pink">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
            </svg>
            <i class="bx bx-tachometer"></i>
          </div>
          <h4><a href="">Comms Service</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box iconbox-yellow">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
            </svg>
            <i class="bx bx-layer"></i>
          </div>
          <h4><a href="">Mike's Flooring</a></h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <img src="assets/undraw_Organizing_projects_0p9a.svg" style="max-width: 100%"/>
      </div>
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box iconbox-red">
          <div class="icon">
            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
              <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
            </svg>
            <i class="bx bx-slideshow"></i>
          </div>
          <h4><a href="">CSV to Map</a></h4>
          <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
        </div>
      </div>
    </div>
  </div>
</section>

  <app-contact></app-contact>
</main>
