<div class="container-fluid">
  <div class="left-half no-p">
    <article>
      <ul>
        <li><img src="../assets/about/young.jpg" loading="lazy"></li>
        <li><img src="../assets/about/graduation.jpg" loading="lazy"></li>
        <li><img src="../assets/about/chair.jpg" loading="lazy"></li>
        <li><img src="../assets/about/camo-smile.JPG" loading="lazy"></li>
        <li><img src="../assets/about/closeup.JPG" loading="lazy"></li>
        <li><img src="../assets/about/back-grey-split.JPG" loading="lazy"></li>
        <li><img src="../assets/about/back-pink-split.JPG" loading="lazy"></li>
        <li><img src="../assets/about/recent.JPG" loading="lazy"></li>
      </ul>
    </article>
  </div>
  <div class="right-half">
    <article>
      <div class="page-header p-0">
        <h1 class="mb-4 text-left">about</h1>
      </div>
      <p>
        The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
        I’m a software developer based in Leeds, UK. I have a passion for programming and all things data analytics. I enjoy working full-stack.
        There is always something new to learn. Everyday is different, new challenges and solutions. I like to think myself as a positive, bubbly and ambitious.
      </p>
      <p>I've dedicated a page for my  <a [routerLink]="'/about/desk'">dream setup</a> if you are interested in that sort of thing.</p>
      <p>
        When I’m not working full-time, I’m either working on side projects or learning something new and other little bits.
        I enjoy problem solving and logic; I'm ambitious, positive and like dad jokes.
        I am currently at <a href="https://www.epiphanysearch.co.uk/" target="_blank">Epiphany <fa-icon [icon]="faShareSquare"></fa-icon></a> as a .NET developer.
      </p>

      <p>
        * Morning or evening? - Absolutely evening. I write this at 3am on a Friday night.
        <br>* Horoscope sign? - Gemini.
        <br>* Dream career? - Cheesy, but what I'm doing now. I'm not sure what the job roles on the higher end of things look like but developing is a must.
        <br>* Car name? - Karen the Kuga.
        <br>* Random fact? - I have a metal plate in my shoulder after falling off a fairground ride in 2010.
        <br>* Anything on the horizon to learn? - Many things including: Flutter, Twilio and more Angular.
        <br>* Last tech thing bought? - <a href="/">A cool vertical mouse</a>
        <br>* Software used on a daily basis? - VS with ReSharper, Cmder, Sublime Text, draw.io, Postman for API, Chrome
        <br>* Personal project setup? - IONOS for domains, Fasthosts for emails, both Azure and Firebase for hosting, Azure for DB (SQL Server)
      </p>

      </article>
  </div>
</div>
