<div class="container-fluid">
  <div class="left-half no-p">
    <article>
      <ul>
        <li><img src="../assets/about/young.jpg" loading="lazy"></li>
        <li><img src="../assets/about/graduation.jpg" loading="lazy"></li>
        <li><img src="../assets/about/chair.jpg" loading="lazy"></li>
        <li><img src="../assets/about/camo-smile.JPG" loading="lazy"></li>
        <li><img src="../assets/about/closeup.JPG" loading="lazy"></li>
        <li><img src="../assets/about/back-grey-split.JPG" loading="lazy"></li>
        <li><img src="../assets/about/back-pink-split.JPG" loading="lazy"></li>
        <li><img src="../assets/about/recent.JPG" loading="lazy"></li>
      </ul>
    </article>
  </div>
  <div class="right-half">
    <article>
      <div class="page-header p-0">
        <h1 class="mb-4 text-left">about</h1>
      </div>
      <p>
        The purpose of my portfolio website is to have a space for my thoughts, show who I am and to showcase my projects.
        I’m a software developer based in Leeds, UK. I have a passion for programming and all things data analytics. I enjoy working full-stack.
        There is always something new to learn. Everyday is different, new challenges and solutions.
      </p>
      <p>I've dedicated a page for my  <a [routerLink]="'/about/desk'">dream setup</a> if you are interested in that sort of thing.</p>
      <p>
        When I’m not working full-time, I’m either working on side projects or learning something new and other little bits.
        I enjoy problem solving and logic; I'm ambitious, positive and like dad jokes.
        I am currently at <a href="https://www.epiphanysearch.co.uk/" target="_blank">Epiphany <fa-icon [icon]="faShareSquare"></fa-icon></a> as a .NET developer.
      </p>
    </article>
  </div>
</div>
