<div id="blog" #blog>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-10">
            <h2>blog ({{count}})</h2>
          </div>
          <div class="col-md-2">
            <a href="https://dev.to/lornasw93" class="btn btn-block" target="_blank" alt="More" onclick="clicky.goal('Click - Blog - More posts');">More ></a>
          </div>
        </div>

        <p>
          In my own way, blogging as a developer is a way of expressing myself on the web whether it be because of finding something interesting,
          solving a problem or in general just having that space to write my thoughts down. It's also pretty useful for when inevitably I forget
          bits I do on a reg like setting up services and new project packages to install. <a href="https://dev.to" target="_blank">DEV.to</a> has given me that
          space to free my mind and be creative, accountability in a way and may be even by helping a reader with a problem I solved - even better.
        </p>
      </div>
    </div>
    <app-loading-small *ngIf="isBlogLoading; else abc" message="Loading posts..."></app-loading-small>
    <ng-template #abc>
      <div *ngIf="posts.length === 0; else postsSection">
        <div class="alert alert-info" role="alert">
          <p class="mb-0">No posts found</p>
        </div>
      </div>
      <ng-template #postsSection>
        <div class="row band">
          <div *ngFor="let post of posts">
            <a href="{{post.url}}" target="_blank" class="icon-box .clicky_log_outbound">
              <article>
                <div *ngIf="post.cover_image!=''">
                  <img src="{{post.cover_image}}" class="img-fluid" />
                </div>
                <h4>{{post.title}}</h4>
                <p>{{post.description}}</p>

                <ul>
                  <li *ngFor="let tag of post.tag_list">
                    <span>{{tag}}</span>
                  </li>
                </ul>

                <!--<span>
                  <span class="likes" *ngIf="post.public_reactions_count > 0"><fa-icon [icon]="faHeart"></fa-icon> {{post.public_reactions_count}} </span>
                  <span class="likes" *ngIf="post.comments_count > 0"><fa-icon [icon]="faComment"></fa-icon> {{post.comments_count}}</span>
                </span>-->
                <span class="date">Created {{post.created_at | dateAgo}}</span>
              </article>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
