<div class="blog">
  <div class="container-fluid">
    <h1>Blog</h1>
    <p>
      In my own way, blogging as a developer is a way of expressing myself on the web whether it be because of finding something interesting,
      solving a problem or in general just having that space to write my thoughts down. It's also pretty useful for when inevitably I forget
      bits I do on a reg like setting up services and new project packages to install. <a href="https://dev.to" target="_blank">DEV.to</a> has given me that
      space to free my mind and be creative, accountability in a way and may be even by helping a reader with a problem I solved - even better.
      I wrote a Node.js API service to get me a list of my blog posts, you can see the result below. 🤯
    </p>

    <app-loading-small *ngIf="isLoading; else grid" message="Loading posts..."></app-loading-small>
    <ng-template #grid>
      <div *ngIf="noPosts; else postsSection">
        <div class="alert alert-info" role="alert">
          <p class="mb-0">No posts found</p>
        </div>
      </div>
      <ng-template #postsSection>
        <section class="projects">
          <div class="container">
            <div class="row band">
              <div *ngFor="let post of posts; let i = index">
                <a href="{{post.url}}" target="_blank" class="icon-box card .clicky_log_outbound">
                  <article>
                    <div *ngIf="post.cover_image!=''">
                      <img src="{{post.cover_image}}" class="img-fluid" />
                    </div>
                    <h4>{{post.title}}</h4>
                    <p>{{post.description}}</p>
                    <ul class="tags">
                      <li *ngFor="let tag of post.tag_list">
                        <span>{{tag}}</span>
                      </li>
                    </ul>
                    <span class="updated">
                      Created {{post.created_at | dateAgo}}
                      <span class="likes" *ngIf="post.public_reactions_count > 0"><fa-icon [icon]="faHeart"></fa-icon> {{post.public_reactions_count}} </span>
                      <span class="likes" *ngIf="post.comments_count > 0"><fa-icon [icon]="faComment"></fa-icon> {{post.comments_count}}</span>
                    </span>
                  </article>
                </a>
              </div>
            </div>
          </div>
        </section>
      </ng-template>
    </ng-template>
  </div>
</div>
