<section>
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1>CSV to Map</h1>
      <div class="row"> 
        <div class="col-sm-4">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <h4 class="card-title">BE</h4>
              <p class="card-text">JSON, CSV, Google Map API</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <h4 class="card-title">Hosting</h4>
              <p class="card-text">Unknown</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <h4 class="card-title">Status</h4>
              <p class="card-text">Ongoing - 80% done</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <strong>Please note I plan to update the project pages frequently with more info.</strong>
        <p><i>I will make the repo and live URL visible on this page once I've completed the project.</i></p>
         </div>
    </div>
  </div>
</section>
