@dark: #264653;
@dark-rgba: rgba(38, 70, 83, 0.9);

@pale-green: #2a9d8f;
@pale-green-rgba: rgba(42, 157, 143, 0.9);

/*@pale-yellow: #e9c46a;*/
@pale-orange: #f4a261;
@pale-red: #e76f51;

@almost-white: #f9f8ff;

*, *::before, *::after {
  box-sizing: border-box;
}

div.container p a, div.container ul li a, div.container table a {
  border-radius: 3px;
  font-size: .8rem;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 3px 5px;
  background-color: @pale-red;
  color: #fff;
  border: none;
  font-weight: 100;
}

div.social a {
  color: @pale-orange;
  margin-left: 3px;
  margin-right: 3px;

  &:hover, &:active, &:focus {
    cursor: pointer;
    text-decoration: none !important;
    color: @pale-orange;
  }
}

body {
  font-family: "Roboto", sans-serif;
  background-color: @almost-white;
}

a {
  color: #5846f9;

  &:hover {
    color: #8577fb;
    text-decoration: none;
  }
}

/*@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }

  #header .logo {
    font-size: 28px;
  }
}*/

#hero, #footer, nav {
  background: linear-gradient(45deg, @pale-green-rgba 0%, @dark-rgba 100%), url("assets/background.jpg") center center no-repeat !important;
  background-size: cover;
}

nav {
  padding: 20px 0;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  a {
    display: block;
    position: relative;
    color: @almost-white !important;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 600;
    padding: 0 3px;
    text-transform: lowercase;
  }

  li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
  }
}

.active-link {
  border-bottom: 1px solid @almost-white;
}

.navbar-brand .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;

  img {
    height: 40px;
  }
}

.navbar-brand .logo a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' !important;
  letter-spacing: -.8px !important;
  color: @almost-white;
}

#hero, #about, #desk {
  button {
    margin-top: 20px;
  }
}
/*#region Hero*/
#hero {
  width: 100%;
  height: 100vh;

  h1 {
    margin: 0;
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
    color: @almost-white;
  }

  h2 {
    color: @almost-white;
    margin: 10px 0 0 0;
    font-size: 20px;
  }

  .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  .container, .container-fluid {
    //padding-top: 84px;
  }
}

@media (min-width: 1200px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }

  #hero .container, #hero .container-fluid {
    padding-top: 68px;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 26px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }

  #hero .hero-img img {
    width: 60%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
/*#endregion*/
section {
  padding: 150px 0;
  //overflow: hidden;
  .section-title {
    text-align: center;
    //padding-bottom: 100px;
    padding-bottom: 50px;

    h2 {
      font-size: 32px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 50px;
        height: 3px;
        background: @pale-orange;
        bottom: 0;
        left: calc(50% - 25px);
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

#about, #desk {
  ul li {
    list-style: none !important;
  }

  img {
    height: 250px;
  }
}

#contact {
  img {
    max-width: 100%;
  }

  .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background: #fff;

    fa-icon {
      font-size: 32px;
      color: #5846f9;
      border-radius: 50%;
      padding: 8px;
    }

    h3 {
      font-size: 20px;
      color: #2c4964;
      font-weight: 700;
      margin: 10px 0;
    }

    p {
      padding: 0;
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
    }
  }

  .contact-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;

    input, .contact .contact-form textarea {
      border-radius: 5px;
      box-shadow: none;
      font-size: 14px;
    }

    input:focus, .contact .contact-form textarea:focus {
      border-color: #5846f9;
    }

    input {
      padding: 20px 15px;
    }

    textarea {
      padding: 12px 15px;
    }
  }
}

#footer {
  color: #fff;
  font-size: 14px;

  .copyright a {
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
  }

  .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      text-decoration: none;
    }
  }
}

.tech .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);

  h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: @pale-red;
  }

  h4 {
    font-size: 36px;
    color: @pale-orange;
    font-weight: 600;
    margin-bottom: 20px;
  }

  ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 0;

    li {
      padding-bottom: 16px;
    }

    i {
      color: #5846f9;
      font-size: 18px;
      padding-right: 4px;
    }
  }
}

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);

  label {
    margin-bottom: 0;
  }

  .tab {
    width: 100%;
    color: white;
    overflow: hidden;

    .tab-label {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 1em;
      background: @pale-red;
      cursor: pointer;

      &:hover {
        background: @pale-orange;
      }

      &:after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        -webkit-transition: all .35s;
        transition: all .35s;
      }
    }

    .tab-content {
      max-height: 0;
      padding: 0 1em;
      background: white;
      -webkit-transition: all .35s;
      transition: all .35s;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked + .tab-label {
      background: @pale-red;
    }

    &:checked + .tab-label::after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }

    &:checked ~ .tab-content {
      max-height: 100vh;
      padding: 1em;
    }
  }
}

ul.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 0;

  li {
    margin: 3px;
    border-radius: 3px;
    font-size: .7rem;
    text-transform: uppercase !important;
    white-space: nowrap;
    padding: 3px 5px;
    background-color: @pale-red;
    color: #fff;
    border: none;
  }
}

#projects {
  .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;

    .icon {
      margin: 0 auto;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: ease-in-out 0.3s;
      position: relative;

      fa-icon {
        transition: 0.5s;
        position: relative;
        color: @pale-red;
      }
    }

    h4 {
      font-weight: 600;
      margin: 10px 0 15px 0;
      font-size: 22px;
      color: @pale-red;

      a {
        color: @pale-red;
        transition: ease-in-out 0.3s;
      }
    }

    p {
      line-height: 24px;
      font-size: 14px;
      margin-bottom: 0;
      color: #000;
    }

    &:hover {
      border-color: #fff;
      box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

#preloader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;

  &:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid @pale-red;
    border-top-color: #e7e4fe;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button, .btn {
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 200;
  display: inline-block;
  background: @pale-red;
  border: 0;
  border-radius: 5px;
  transition: 0.4s;
  text-transform: uppercase;

  &:hover {
    background: @pale-orange;
    cursor: pointer;
    color: #fff !important;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}
/*(display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}*/
#about {
  .gallery-item {
    flex: 1 0 9rem;
  }
}
