@font-face {
  font-family: 'Kulminoituva';
  src: url('/assets/fonts/Kulminoituva/Kulminoituva.eot');
  src: url('/assets/fonts/Kulminoituva/Kulminoituva.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/Kulminoituva/Kulminoituva.woff2') format('woff2'), url('/assets/fonts/Kulminoituva/Kulminoituva.woff') format('woff'), url('/assets/fonts/Kulminoituva/Kulminoituva.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.transition() {
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.common-header() {
  background-image: url(https://images.unsplash.com/photo-1484820986637-7ec3e85b394f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1360&q=80);
  background-size: cover;
  background-position: top;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: -8px;
}

@light-grey: #F7F7F7;
@secondary: #0192C7;
@almost-black: #212529;

*, ::after, ::before {
  .box-sizing();
  padding: 0;
  margin: 0;
}

html, body {
  .box-sizing();
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  color: @almost-black;
}

html {
  scroll-behavior: smooth;
}

body {
  background: @light-grey;
  box-sizing: border-box;
}

div#contact {
  padding-top: 80px;
  padding-bottom: 30px;
}

footer {
  position: relative;
  width: 100%;
  padding: .5em;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 11px;

  ul li {
    list-style: none;
    padding-left: 0 !important;
    margin-left: 0 !important;
  }

  a {
    text-decoration: underline;
  }

  p, a, span {
    margin: 0 !important;
    text-transform: lowercase !important;
  }
}

.blog-container {
  background: #fff;
  border: 1px solid #e2e5e8;
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 1px 20px rgba(0,0,0,.25);
  padding: 40px 0;

  a {
    text-decoration: none;
    .transition();

    &:hover {
      color: @secondary;
    }
  }
}

@media screen and (min-width: 480px) {
  .blog-container {
    // width: 25rem;
  }
}

@media screen and (min-width: 767px) {
  .blog-container {
    //width: 35rem;
  }
}

@media screen and (min-width: 959px) {
  .blog-container {
    // width: 35rem;
    width: 100%;
  }
}

h1 {
  font-family: 'Kulminoituva';
}

div {
  .blog-body {
    margin: 0 auto;
    width: 80%;
  }

  .blog-title h3 a {
    color: @almost-black;
  }

  .blog-summary p {
    color: #4d4d4d;
  }

  .blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
  }

  .blog-tags li + li {
    margin-left: .5rem;
  }

  .blog-tags span {
    border: 1px solid #999;
    border-radius: 3px;
    color: #999;
    font-size: .70rem;
    letter-spacing: .5px;
    text-align: center;
    text-transform: uppercase !important;
    white-space: nowrap;
    width: 5rem;
    padding: 3px 5px;
  }

  .social a {
    color: @almost-black;
    margin-right: 8px;
  }
}

.about {
  img {
    height: 156px;
    opacity: .9;
  }

  p {
    margin: 0;
  }
}

.about, .projects {
  padding: 50px 0;
}

div.page-header {
  padding-top: 170px;
  position: relative;
  color: @almost-black;
  text-align: center;

  h1 {
    font-size: 6em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
}

.masthead h1 {
  font-size: 7rem;
  .common-header();
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;

  h1 .mb-1 {
    font-family: 'Courier New';
  }

  h3.mb-5 {
    font-family: Calibri;
  }
}

.masthead h1 {
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}
 
div.tags {
  display: inline;

  span {
    margin-right: 5px;
    text-transform: uppercase;
    padding: 5px 10px;
    font-weight: 100;
  }
}

a.active-link {
  border-bottom: 1px solid @secondary;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

  ul {
    list-style: none;
    overflow: hidden;
    list-style: none;
    overflow: hidden;
    margin-top: 15px;
    margin-right: 20px;

    li a {
      display: block;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 15px;
      text-decoration: none;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      font-family: 'Raleway', sans-serif;
      bottom: 0;
      letter-spacing: 1px;
      font-weight: 600;
      color: @almost-black;

      &:hover, &:active, &:focus {
        cursor: pointer;
        text-decoration: none !important;
        color: @secondary;
      }
    }
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  a img.logo {
    height: 50px;
    display: block;
    float: left;
    margin-left: 30px;
    margin-top: 20px;
  }
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 768px) {
  .header li {
    float: left;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

#header {
  li {
    float: left !important;
  }

  nav {
    clear: none !important;
    float: right !important;
    max-height: none !important;
  }
}

section.projects a {
  text-decoration: none !important;

  &:hover {

    div.blog-container {
      box-shadow: 0 1px 20px rgba(0,0,0,.5);
      transition: box-shadow 0.3s ease-in-out;
    }
  }
}
