<div class="row">
  <div class="col">
    <button (click)="goBack()"><fa-icon [icon]="faChevronLeft"></fa-icon> Back to Projects</button>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <strong>Please note I plan to update the project pages frequently with more info.</strong>
      I will make the repo and live URL visible on this page once I've completed the project.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2">
    <div class="card border-primary mb-4">
      <div class="card-body text-primary">
        <h5 class="card-title">Frontend</h5>
        <p class="card-text">{{frontend}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card border-primary mb-4">
      <div class="card-body text-primary">
        <h5 class="card-title">Backend</h5>
        <p class="card-text">{{backend}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card border-primary mb-4">
      <div class="card-body text-primary">
        <h5 class="card-title">Hosting</h5>
        <p class="card-text">{{hosting}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card border-primary mb-4">
      <div class="card-body text-primary">
        <h5 class="card-title">Status</h5>
        <p class="card-text">{{status}}</p>
      </div>
    </div>
  </div>
</div>
