<!--<app-page-header name="Experience"></app-page-header>-->

<section class="experience">
  <div class="container" id="timeline">
    <div class="timeline-item">
      <div class="timeline-icon">
        <fa-icon [icon]="faLaptopCode" size="1x"></fa-icon>
      </div>
      <div class="timeline-content">
        <h4>Mar 2019 - Current</h4>
        <span class="badge badge-info">Experience</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <fa-icon [icon]="faLaptopCode" size="1x"></fa-icon>
      </div>
      <div class="timeline-content right">
        <h4>Jan 2017 - Feb 2019</h4>
        <span class="badge badge-info">Experience</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <fa-icon [icon]="faLaptopCode" size="1x"></fa-icon>
      </div>
      <div class="timeline-content">
        <h4>Jul 2015 - Dec 2016</h4>
        <span class="badge badge-info">Experience</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <fa-icon [icon]="faGraduationCap" size="1x"></fa-icon>
      </div>
      <div class="timeline-content right">
        <h4>2011 - 2015</h4>
        <span class="badge badge-primary">Education</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <fa-icon [icon]="faLaptopCode" size="1x"></fa-icon>
      </div>
      <div class="timeline-content">
        <h4>2009 - 2011</h4>
        <span class="badge badge-primary">Education</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-icon">
        <fa-icon [icon]="faLaptopCode" size="1x"></fa-icon>
      </div>
      <div class="timeline-content right">
        <h4>2004 - 2009</h4>
        <span class="badge badge-primary">Education</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>
    </div>
  </div>
</section>
