<section id="contact">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1>Get in Touch</h1>
      <p>Feel free to send a message via my social medias or using the button below - temporary til I build the form (coming soon!) 😀 Thanks!</p>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="mailto:hello@lorna.dev" class="btn" onclick="clicky.goal('Click - Contact - Send Message');">Send Message</a><br /><br />
        <img src="../assets/about/young.jpg" height="450" alt="What a queen" data-aos-delay="100" />
      </div>
      <!--<div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="contact-form">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Name" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>-->
    </div>
  </div>
</section>
