<section id="tech" class="tech">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h1>Tech</h1>
      <p>
        I've compiled a list together of tech I use on a daily basis, for personal project purposes and in general bits
        I want to learn and know more about. 😎
      </p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>Everyday/most days</h3>
          <ul>
            <li>VS 19 (with Resharper)</li>
            <li>VS Code</li>
            <li>Cmder</li>
            <li>WakaTime</li>
            <li>Sublime Text</li>
            <li>Postman</li>
            <li>Chrome</li>
            <li>Clicky</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
        <div class="box">
          <h3>Actively using</h3>
          <ul>
            <li>Angular 1</li>
            <li>CSS Less</li>
            <li>Heruko</li>
            <li>Firebase (hosting, cloud functions)</li>
            <li>.NET Core 3.1</li>
            <li>Node.js</li>
            <li>draw.io</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <h3>Personal projects</h3>
          <ul>
            <li>IONOS for domains</li>
            <li>Fasthosts for emails</li>
            <li>Firebase and Heruko for hosting</li>
            <li>Azure SQL for databases</li>
            <li>Azure Web App Services for deploying .NET Core web apps</li>
            <li>Clicky for analytics</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="250">
        <div class="box">
          <h3>To learn</h3>
          <ul>
            <li>Docker</li>
            <li>Flutter</li>
            <li>Mongodb</li>
            <li>Identity Server</li>
            <li>SEO</li>
            <li>Twilio</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="box">
          <h3>(Learn/do) more</h3>
          <ul>
            <li>Securing APIs</li>
            <li>Active blogging</li>
            <li>Finishing personal projects</li>
            <li>Authentication</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
        <div class="box">
          <h3>Other</h3>
          <ul>
            <li><a href="https://froala.com/design-blocks/" target="_blank">Froala</a></li>
            <li><a href="https://roadmap.sh/" target="_blank">Roadmaps</a></li>
            <li><a href="https://carbon.now.sh/" target="_blank">Carbon</a></li>
            <li><a href="https://www.visualcv.com/" target="_blank">VisualCV</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
