<div id="dev" #dev>
  <div class="container">
    <h2>dev</h2>
    <p>
      I've compiled a list together of tech I use on a daily basis, for personal project purposes and for general bits I want to learn and know more about. 😎
    </p>
    <div class="row">
      <div class="col">
        <p>Personal projects</p>
        <ul>
          <li>Domains: IONOS</li>
          <li>Emails: Fasthost</li>
          <li>Hosting: Firebase, Heruko, Netlify</li>
          <li>Deploying .NET Core web apps: Azure Web App Services</li>
          <li>DB: Azure SQL</li>
          <li>Analytics: Clicky</li>
        </ul>
      </div>
      <div class="col">
        <p>Everyday/most days</p>
        <ul>
          <li>VS 19 (with Resharper)</li>
          <li>VS Code</li>
          <li>Cmder</li>
          <li>WakaTime</li>
          <li>Sublime Text</li>
          <li>Postman</li>
        </ul>
      </div>
      <div class="col">
        <p>Actively using</p>
        <ul>
          <li>Angular 11</li>
          <li>CSS Less</li>
          <li>Firebase, Heruko</li>
          <li>.NET Core 3.1</li>
          <li>Node.js</li>
        </ul>
      </div>
      <div class="col">
        <p>To learn</p>
        <ul>
          <li>Docker</li>
          <li>Flutter</li>
          <li>Mongodb</li>
          <li>Identity Server</li>
          <li>Twilio</li>
        </ul>
      </div>
      <div class="col">
        <p>#TODO more</p>
        <ul>
          <li>Securing APIs</li>
          <li>Finishing personal projects</li>
          <li>Authentication</li>
        </ul>
      </div>
      <div class="col">
        <p>Other resources</p>
        <ul>
          <li><a href="https://froala.com/design-blocks/" target="_blank">Froala</a></li>
          <li><a href="https://roadmap.sh/" target="_blank">Roadmaps</a></li>
          <li><a href="https://carbon.now.sh/" target="_blank">Carbon</a></li>
          <li>CV builder: <a href="https://www.visualcv.com/" target="_blank">VisualCV</a></li>
          <li>Colour schemes: <a href="https://www.happyhues.co/">Happy Hues</a></li>
          <li>draw.io</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!--<i class="devicon-angularjs-plain"></i>
        <i class="devicon-bitbucket-original"></i>
        <i class="devicon-bootstrap-plain"></i>
        <i class="devicon-csharp-plain"></i>
        <i class="devicon-css3-plain"></i>
        <i class="devicon-dot-net-plain"></i>
        <i class="devicon-docker-plain"></i>
        <i class="devicon-firebase-plain"></i>
        <i class="devicon-flutter-plain"></i>
        <i class="devicon-git-plain"></i>
        <i class="devicon-heroku-original"></i>
        <i class="devicon-javascript-plain"></i>
        <i class="devicon-jetbrains-plain"></i>
        <i class="devicon-jquery-plain"></i>
        <i class="devicon-less-plain-wordmark"></i>
        <i class="devicon-nodejs-plain"></i>
        <i class="devicon-npm-original-wordmark"></i>
        <i class="devicon-microsoftsqlserver-plain"></i>
        <i class="devicon-typescript-plain colored"></i>
        <i class="devicon-visualstudio-plain colored"></i>-->
