<section id="tech" class="tech section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Tech</h2>
      <p>
        Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="box">
          <h3>Everyday</h3>
          <ul>
            <li>VS 19 with Resharper</li>
            <li>Cmder</li>
            <li>WakaTime</li>
            <li>Sublime Text</li>
            <li>draw.io</li>
            <li>Postman</li>
            <li>Chrome</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box">
          <h3>Personal projects</h3>
          <ul>
            <li>IONOS for domains</li>
            <li>Fasthosts for emails</li>
            <li>Firebase for hosting Angular projects</li>
            <li>Azure SQL for databases</li>
            <li>Azure Web App Services for deploying .NET Core web apps</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          <h3>To learn</h3>
          <ul>
            <li>Docker</li>
            <li>Flutter</li>
            <li>React</li>
            <li>Node.js</li>
            <li>Identity Server</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box">
          <h3>(Learn) more</h3>
          <ul>
            <li>Securing APIs</li>
            <li>Active blogging</li>
            <li>Finishing personal projects</li>
            <li>Authentication</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
