<div id="projects" #projects>
  <div class="container">
    <h2>Projects</h2>
    <p>
      I enjoy working on projects in my spare time, it keeps me busy and motivated although while sure, at times it is difficult with a full-time job and other commitments, but it is really rewarding. In a previous role, I felt I was not getting exposure to new tech the same way everyone else on the dev team was. In this instance, I was constantly put on a separate project to everyone else whilst they were learning Angular. It suddenly hit me, why put up with it? Why am I not doing anything about it? Feeling motivated, I started learning Angular outside of work and after a while I left that job (early 2019). The spark to urn more for myself had started. Looking back, I have no idea what I did in my free time and granted, yes, at times I can feel overwhelmed due to the amount of technologies etc. out there, but overall it has been worth it.
      I wrote a Node.js API service to get me a list of my public repos, you can see the result below. 🤯
    </p>

    <app-loading-small *ngIf="isLoading; else def" message="Loading projects..."></app-loading-small>
    <ng-template #def>
      <div *ngIf="repos.length === 0; else reposSection">
        <div class="alert alert-info" role="alert">
          <p class="mb-0">No projects found</p>
        </div>
      </div>
      <ng-template #reposSection>
        <div class="row band">
          <div *ngFor="let repo of repos">
            <a href="{{repo.html_url}}" target="_blank" class="icon-box .clicky_log_outbound">
              <article>
                <h4>{{repo.name}}</h4>
                <p>{{repo.description}}</p>

                <ul>
                  <li *ngFor="let tag of repo.topics">
                    <span>{{tag}}</span>
                  </li>
                </ul>

                <!--<a *ngIf="repo.homepage!=''" href="{{repo.homepage}}" target="_blank" onclick="clicky.goal(`Click - Projects - Website - ${repo.name}`);"><fa-icon [icon]="faGlobe"></fa-icon></a>-->
                <span class="updated">
                  Updated {{repo.updated_at | dateAgo}}
                  <span class="likes" *ngIf="repo.forks > 0"><fa-icon [icon]="faDownload"></fa-icon> {{repo.forks}} </span>
                  <span class="likes" *ngIf="repo.stargazers_count > 0"><fa-icon [icon]="faStar"></fa-icon> {{repo.stargazers_count}}</span>
                </span>
              </article>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
